@import "./variables";
@import "./responsive";

* {
  margin: 0;
  padding: 0;
  font-family: "Poppins";
  font-optical-sizing: auto;
  font-weight: 300;
  font-style: normal;
  text-decoration: none;
}

body {
  background: $white;
}

.container {
  padding-left: 5vw !important;
  padding-right: 5vw !important;
}
.flex {
  display: flex;
  align-items: center;
  justify-content: center;
}
.text-mute {
  color: $grey !important;
}

.bold-4 {
  font-weight: 400;
}
.bold-5 {
  font-weight: 500;
}

.success {
  background: $btn-success !important;
  color: $white !important;
}

.danger {
  background: $btn-danger !important;
  color: $white !important;
}

.warning {
  background: $btn-warning !important;
  color: $white !important;
}
.muted {
  color: $grey;
}
.btn {
  background: transparent;
  border: none;
  outline: none;
  cursor: pointer;
  padding: 0.5rem 1rem;
  border-radius: 8px;
  &:active {
    transform: scale(0.95);
  }
}

.input-group {
  display: flex;
  flex-direction: column;
  gap: 0.2rem;
  input,
  textarea,
  select {
    background: transparent;
    padding: 0.5rem;
    border-radius: 8px;
    border: 1px solid $shadow-light;
  }
}
