$white: #ffffff;
$grey: #b1b1b8;
$btn-warning: rgb(257, 239, 7);
$btn-danger: rgb(255, 0, 0);
$btn-success: rgb(0, 255, 0);
$btn-primary: rgb(0, 0, 255);
$btn-info: rgb(0, 255, 255);
$btn-light: rgb(255, 255, 255);
$btn-dark: rgb(0, 0, 0);
