$white: #ffffff;
$black: #000000;
$grey: #b1b1b8;
$primary: rgb(257, 239, 7);
$btn-warning: rgb(245, 230, 60);
$btn-danger: rgb(255, 0, 0);
$btn-success: rgb(0, 255, 0);
$btn-primary: rgb(0, 0, 255);
$btn-info: dodgerblue;
$btn-light: rgb(255, 255, 255);
$btn-dark: rgb(0, 0, 0);
$footer-bg: rgb(44, 44, 44);
$shadow-light: rgb(223, 223, 223);
